# MySQL connection string for Hostinger
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="mysql://user:password@localhost:3306/details_warsaw"

# Next-auth secret (generate with: openssl rand -base64 32)
NEXTAUTH_SECRET="change-me-to-a-random-32-char-string"
NEXTAUTH_URL="http://localhost:3000"

# First admin (created by seed script)
ADMIN_LOGIN="adminwar"
ADMIN_PASSWORD="x1311973X!"
